<header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <p><%= link_to "トップ", root_path , class:"header-list" %></p>
        <% if logged_in? %>
          <p3><%= link_to "タスク作成", users_path , class:"header-list" %></p3>
          <p4 class="dropdown">
            <a1 href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdown-title">
               CHONO <b class="caret"></b>
            </a1>
            <ul class="dropdown-menu">
              <li class="dropdown-header">ユーザー</li>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定", posts_index1_path(current_user)%></li>
              <li class="dropdown-header">タスク</li>
              <li><%= link_to "タスク一覧", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </p4>
        <% else %>
         <p4><%= link_to "ログイン", login_path , class:"header-list2" %></p4>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

